
.buscador{
  width: 100%;
  text-align: center;
}
input{
  width: 90%;
  padding: .5rem;
  border-color: #0070FF;
  border-radius: 5px;
  border-style:solid;
}
input:hover{
  border-color: #FFBF00;
  border-width: 2px;
  cursor: pointer;
}
h1{
  color: whitesmoke;
}
