.cartas{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  text-align: center;
}
ul{
  text-decoration-style: none;
}
li{
  font-size: 1rem;
}
p{
  font-size: 1rem;
}
img{
  margin-top: 1.5rem;
}

