html, body{
  font-size:62.5%;
  box-sizing: border-box;
  margin: 0rem .2rem;
}
*, *:before, *:after{
  box-sizing: inherit;
}

@media (min-width: 768px){
  html, body{
    font-size:62.5%;
    box-sizing: border-box;
    margin: 0rem 1rem 0rem 0rem;
  }
  *, *:before, *:after{
    box-sizing: inherit;
  }
}
h1{
  font-size:2rem;
}
h3{
  color: white;
  text-align: center;
  font-size: 1.5rem;
}
